body {
    height: 100vh;
    margin: 0;
    font-family: Oxanium;
    background-size: cover;
    background-image: url(./img/Apex\ world.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 150px;
}

.h2 {
    width: 50vw;
    font-size: 24px;
    color: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    height: 20px;
}

.cabecalho {
    color: #fff;
    justify-content: space-between;
    display: flex;
    background-color: #000;
    height: 100px;
    align-items: center;
    width: 90%;
}

.button {
    background-color: #C83C35;
    font-size: 10px;
    gap: 16px;
    display: flex;
    border: none;
    padding: 12px 28px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.button-2 img{
    gap: 16px;
    display: flex;
    background-size: cover;
    justify-content: space-between;
}

.buton:hover {
    transform: translateY(-10px);
}

.Buttons:hover {
    transform: translateY(-10px);
}

.header {
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: center;

}

.visual {
    display: flex;
    justify-content: right;

}

.logo img {
    display: flex;
    justify-content: left;
    height: 200px;
    align-items: center;
}

main {
    display: flex;
    width: 100vw;
    align-items: right;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 200px;
}

.main img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}